<nav
  class="px-8 py-1 flex justify-between items-center shadow-md border-b-2 border-green-400"
  style="background-color: rgb(240, 255, 240);"
>
  <div class="text-2xl font-bold text-gray-800 flex items-center gap-2">
    <a routerLink="/"><img src="voltio.jpg" alt="" width="80px" /></a>
    <span class="text-green-600 text-sm font-bold">✅ DEPLOY v2.0</span>
  </div>
  <div class="flex gap-6">
    <a routerLink="/auth/login" class="text-gray-800 hover:text-green-600 font-semibold">🔐 Login</a>
    <a routerLink="/" class="text-gray-800 hover:text-green-600 font-semibold">🏠 Home</a>
    <a routerLink="/home" class="text-gray-800 hover:text-green-600 font-semibold">⚙️ Mi equipo</a>
    <a routerLink="/monitoring" class="text-gray-800 hover:text-green-600 font-semibold">📊 Monitoreo</a>
    <a routerLink="/bluetooth" class="text-gray-800 hover:text-green-600 font-semibold">📡 Configuración BT</a>
  </div>
</nav>
